
/* Set the map itself */
.leaflet-container {
    height:100vh;
    width:100%;
    position: fixed;
  }

/* CSS for the layers on the map itseft */
.circuit {
    position: absolute;
    z-index: 6;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: linear-gradient(transparent, #0054A3 );

}

.circuit h1 {
    color: white;
    margin-top: 70px;
    font-size: 45px;
}

button {
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 10px;
    border:none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    background: transparent;
}

.back {
    position: absolute;
    z-index: 6;
    right: 0;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
}

.arrow{
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 10px;

}

@media screen and (min-width: 576px) {
    
    .leaflet-container {
        height:95vh;
        width:100%;
        position: fixed;
        bottom:0;
      }

    .back{
        position: fixed;
        margin-top:5vh;
        
      }

    
    
}