@import "../global-styles/base.css";

.containerHome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.home-page{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(303deg, #e6f2fd 0%, #FFFFFF 84.17%);
    display: grid;
    grid-row-gap:1em;
    grid-template-rows: 1fr 2fr;
    align-items: start;
    justify-content: start;
}



.NavNav{
    background: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.NavNav span{
    color: rgb(96, 181, 255);
}
#head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    column-gap: 14px;
    justify-content: center;
    justify-items: center;
}
img.Cardthree{
    width: 48.63px;
    height: 148.66px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.22));
    border-radius: 5px;
}

img.Cardtwo{
    width: 48.63px;
height: 148.66px;

filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.22));
border-radius: 5px;
    
}
img.Cardone{
    width: 129.71px;
height: 146.66px;
filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.22));
border-radius: 5px;
    
}

.contentHome { 
    grid-row: 1;
    height:auto;
}
.sectiontxt {
    padding-top: 25px;
    padding-bottom: 0;
}

.create-circuit-cta{
    grid-column:1;
    grid-row: 1;
    align-self: center;
    background-color: #0054A3;
    color: #fff;
    text-align: center;
    width:50%;
    border-radius: 10px;
    padding: 0.2em 0;
    margin-top:1em;
    margin-bottom:1em;
    text-decoration: none;
}

#section1{
    overflow-x: hidden;
    width: 100vw;
    grid-row:2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: start;
    justify-content: start;
    justify-items: start;
    row-gap: 10px;
    column-gap: 10px;
    padding-bottom: 20px;

}

.card-sector { 
    padding: 16px;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    box-shadow: 1px 2px 8px 1px #e6eff8;
    font-size: 12px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.cardA1{
    grid-column: 1;
    grid-row: 1;
    background-image: url('../../assets/paris1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.cardA2{
   grid-column: 1;
   grid-row: 2;
    background-image: url('../../assets/paris2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.cardA3{
    grid-column: 2;
    grid-row:1;
    background-image: url('../../assets/paris3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cardA4{
    grid-column:2;
    grid-row: 2;
    background-image: url('../../assets/paris4.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

