.containerHome {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-page {
    width:100%;
    max-width: 390px;
    height: auto;

    background: linear-gradient(303deg, #e6f2fd 0%, #FFFFFF 84.17%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
}

.logo  {
width: 129.71px;
height: 146.66px;
filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.22));
border-radius: 5px;
}

.NavNav {
    background: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.NavNav span {
    color: rgb(96, 181, 255);
}

#head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    column-gap: 14px;
    justify-content: center;
    justify-items: center;
}

img.Cardthree {
    width: 48.63px;
    height: 148.66px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.22));
    border-radius: 5px;
}

img.Cardtwo {
    width: 48.63px;
    height: 148.66px;

    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.22));
    border-radius: 5px;

}

img.Cardone {
    width: 129.71px;
    height: 146.66px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.22));
    border-radius: 5px;

}

/* Partie avec le texte et les boutons incitatifs */

.sectiontxt {
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.create-circuit-cta {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    background-color: #0054A3;
    color: #fff;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    padding: 0.5em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}

.visit-circuit-cta {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    background-color: #0054A3;
    color: #fff;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    padding: 0.5em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}

/* -- Section des cartes arrondissements */


#section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-content: center;
    justify-items: center;
    row-gap: 10px;
    column-gap: 5px;
    padding-bottom: 20px;

}

.cardA1 {
    list-style: none;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    background-image: url('../../assets/paris1.jpg');
    box-shadow: 1px 2px 8px 1px #e6eff8;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.cardA2 {
    list-style: none;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    background-image: url('../../assets/paris2.jpg');
    box-shadow: 1px 2px 8px 1px #e6eff8;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.cardA3 {
    list-style: none;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    background-image: url('../../assets/paris3.jpg');
    box-shadow: 1px 2px 8px 1px #e6eff8;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.cardA4 {
    list-style: none;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    background-image: url('../../assets/paris4.jpg');
    box-shadow: 1px 2px 8px 1px #e6eff8;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}