@import "../global-styles//base.css";

.intro-page {
    width: 100%;
    height: 100vh;
}

/* Picture and its container */
.picture-block {
    width: 100vw;
    height: 100vh;
}

.picture-block .introPicture {
    width: 100vw;
    height: auto;
    transform: scale(1.2);
    overflow-x: hidden;
    overflow-y: hidden;
}



/* block with text and buttons below image */
.textBlock {
    padding-bottom: 5vh;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    border-radius: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 101%;
    height: 50%;
    overflow-y: scroll;
}

/* Carrousel made of lines above texts */
#carrousel {
    padding: 1em 0 0.5em 0;
    display: flex;
    min-height: 0;
    height: auto;
    width: 30%;

}

.cercles {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50px;
    background-color: grey;
    transition: width 2s;
}

.changeCercle {
    background-color: blue;
    width: 50px;
    height: 10px;
    margin: 5px;
    border-radius: 50px;
}

/* Text part under carrousel lines */

.text-part {
    padding: 1em 0;
    width: 100%;
}

#titlePart,
#bioPart {
    margin-left: 45px;
}

#bioPart {
    width: 300px;
    margin-bottom: 0;
}


/* Part that is below the text */
#footerBlock {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 10%;
}

#skip {
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

#skip:hover {
    text-decoration: none;
    color: blue;
    font-weight: 700;
}

#buttonNext {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: orange;
    cursor: pointer;
}

#buttonNext:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    cursor: pointer;
}

/* Container for the button to "start" that is printed on the last slide */
#footerEnd {
    display: none;
    justify-content: center;
}


#Start {
    color: white;
    background-color: orange;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 60px;
}

#Start:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    cursor: pointer;
}


@media screen and (min-width: 576px) {

    /* Changing cicles in carrousel */
    #carrousel {
        padding: 1em 0 0.5em 0;
        display: flex;
        justify-content: center;
        min-height: 0;
        height: auto;
        width: 100%;

    }

    .cercles.previous {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
    }

    .changeCercle {
        background-color: blue;
        width: 50px;
        height: 10px;
        margin: 5px;
        border-radius: 50px;
    }

    /* Text part centered  */
    .text-part {
        text-align: center;
    }

    #bioPart {
        width: 90%;
    }

    #titlePart {
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {

    /* Picture and its container */

    .picture-block {
        width: 100vw;
        height: 50vh;
        background-image: url("../../assets/pexels-david-henry-6449831.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .picture-block .introPicture {
        display: none;
    }

    /* Set buttons at the good position */
    #footerBlock {
        justify-content: center;
        width: 100%;
    }

    #skip {
        margin-left:-100%;
    }
}

@media screen and (min-width: 2000px) {


    /* Make text bigger for large screen */
    #bioPart {
        margin: 0 auto;
        width: 60%;
        font-size: 1.5rem;
    }

    #titlePart {
        margin: 0 auto;
        width: 60%;
        font-size: 2rem;
    }

    /* Make footer bigger with good position */
    #footerBlock {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #skip {
        margin: 0;
        font-size: 2rem;
    }

    #buttonNext {
        width: 120px;
        height: 120px;
        font-size: 1.5rem;
    }

}